:root {
    --primaria: #bababa;
    --segundaria: #636363;
    --terciario: #0d0d0d;
    --quartario: #141414;
}

*,
*::after,
*::backdrop {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: var(--primaria);
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    
    overflow: hidden;
    background-color: #0d0d0d;
}

/*
===============================================
================  GLOBAL  ====================
===============================================
*/

.title {
    font-weight: 500;
    font-size: 24px;
    margin: 1.2em 0;
}

/*
===============================================
================  MENUBAR  ====================
===============================================
*/

header {
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #0d0d0d;
    padding: 5px 0;
    -webkit-app-region: drag;

    position: fixed;
    z-index: 10;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
}

header > nav > p {
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    color: #444444;
}

header > nav > ul {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
    -webkit-app-region: no-drag;
}

header > nav > ul > li > button {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    outline: none;
    border: none;
}

header > nav > ul > li > #minBtn {
    background-color: #ffa62e;
}

header > nav > ul > li > #resizeBtn {
    background-color: #55cc43;
}

header > nav > ul > li > #closeBtn {
    background-color: #e81123;
}

header > nav > ul > li {
    transition: opacity 0.3s ease;
}

header > nav > ul > li:hover {
    opacity: 0.3;
}

/*
===============================================
=======      container__section__1      =======
===============================================
*/

.container__section__1 {
    padding: 1.5em;
    animation: entrada 3s ease;

    width: 100%;
}

.container__section__1 > #form__principal {
    width: 70%;
}

/* ================ */
/* Cards de opções */
/* ================ */

.cards__container {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 1.5em;
}

.cards__container > label > input[type="radio"] {
    display: none;
}

.cards__container > label > .card__sigle {
    width: 90px;
    height: 95px;

    border: 1px solid var(--segundaria);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    fill: var(--segundaria);

    cursor: pointer;
    transition: 0.3s ease;
}

.cards__container > label > .card__sigle {
    margin-bottom: 1em;
}

.cards__container > label > .card__sigle p {
    font-size: 13px;
    font-weight: 300;
    color: var(--segundaria);
    transition: 0.3s ease;
}

.cards__container > label > .card__sigle:hover {
    border: 1px solid var(--primaria);
    color: var(--primaria);
    fill: var(--primaria);
}

.cards__container > label > .card__sigle:hover p {
    color: var(--primaria);
}

.cards__container > label > input[type="radio"]:checked + .card__sigle {
    border: 1px solid var(--primaria) !important;
    color: var(--primaria) !important;
    fill: var(--primaria) !important;
    color: var(--primaria) !important;
}

.cards__container > label > input:checked + .card__sigle > p {
    color: var(--primaria) !important;
}

/* ================ */
/* Inputs de dados  */
/* ================ */

.form__inputs {
    width: 100%;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form__inputs > input {
    width: 100%;
    /* max-width: 368px; */

    padding: 10px;
    border-radius: 5px;
}

/* Button */

.form__inputs > button {
    padding: 10px;

    background-color: white;
    color: var(--terciario);
    border: none;

    position: relative;
    transition: transform 0.3s ease, opacity 100ms ease;

    cursor: pointer;

    display: inline-block;
}

.form__inputs > button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form__inputs > button:active {
    transform: scale(0.95);
    opacity: 0.7;
}

/* Fechar - Button */

.form__inputs > label.hidden {
    display: none;
}

.form__inputs > label > p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.form__inputs > label > input {
    width: 100%;
    height: 3em;

    padding: 10px;

    font-size: 12px;
    font-weight: 300;
    
    border: 1px solid var(--segundaria);
    
    margin-bottom: 0.5em;
    
    outline: none;

    background: transparent;
    
    transition: border 0.3s ease;
}

.form__inputs > label > input:focus {
    border: 1px solid white;
}

/* Input Range */

.form__inputs > #label__tamanho > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.5em;
}

.form__inputs > #label__tamanho > div > p {
    font-size: 1.2em;
}

.form__inputs > #label__tamanho > div > input {
    background: transparent;

    padding: 3px;
    width: 20%;

    outline: none;
    border: none;

    text-align: end;
}

.form__inputs > #label__tamanho > div > input:focus {
    border: 1px solid var(--segundaria);
}

/* Range */

.form__inputs > #label__tamanho > input[type="range"] {
    height: 40px;
    border: none;
    -webkit-appearance: none;
}

.form__inputs > #label__tamanho > input[type="range"]::-webkit-slider-runnable-track {
    height: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: var(--primaria);
    border-radius: 0px;
}

.form__inputs > #label__tamanho > input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #757474;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.5px;
}

/* Fechar - Input Range */


/*
        INPUT COLORS
*/


.calors__container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1.1em;
}

.calors__container > label {
    width: 100%;
}

.calors__container > label > p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.calors__container > label > input[type=color] {
    width: 100%;

    border: none;
    outline: none;
    padding: 0;
}

::-webkit-color-swatch {
    border: none;
}
::-webkit-color-swatch-wrapper {

    padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}
::-moz-focus-inner {
    padding: 0;
}
  


/*
===============================================
=======      container__section__2      =======
===============================================
*/


.container__section__2 {
    width: auto;
    min-width: 40%;
    height: 100%;

    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* cursor: pointer; */
    transition: transform 2s ease;
    transform: translateX(600px);
    background-color: var(--quartario);
}

.container__section__2 > .previa__qrcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__section__2 > .previa__qrcode > img {
    margin-bottom: 30px;
    border-radius: 5px;
}

.container__section__2 > .previa__qrcode > p {
    font-weight: 300;
    font-size: 12px;
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}

.container__section__2 > .previa__qrcode > button {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--segundaria);

    z-index: 1;
    overflow: hidden;
    position: relative;

    cursor: pointer;

    transition: color 0.3s ease;
}

.container__section__2 > .previa__qrcode > button::before {
    content: "";
    width: 100%;
    height: 0;

    position: absolute;
    bottom: 0;
    left: 0;

    z-index: -1;

    background-color: #fff;

    transition: 0.3s ease;
}

.container__section__2 > .previa__qrcode > button:hover::before {
    height: 100%;
}

.container__section__2 > .previa__qrcode > button:hover {
    color: var(--terciario);
}

.container__section__2 > .previa__qrcode > button:active::before {
    transform: scaleX(1.1) scaleY(1.6);
    opacity: 0;
}

/*
===============================================
=============      Animações      =============
===============================================
*/

.animacaoEntrada {
    animation: entrada 0.3s ease;
}

.animacaoEntradaEsquerda {
    transform: translateX(0);
    transition: transform 2s ease;
}

@keyframes entrada {
    0% {
        opacity: 0;
        transform: translateY(5);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
